<!doctype html>
<html lang="en">
	<head>
		<!-- Link style.css and Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="ha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<title>Mainpage</title>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="    false">
							Currency Exchange
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">EUR/USD</a>
							<a class="dropdown-item" href="#">USD/JPY</a>
							<a class="dropdown-item" href="#">GBP/USD</a>
							<a class="dropdown-item" href="#">AUD/USD</a>
							<a class="dropdown-item" href="#">USD/CHF</a>
							<a class="dropdown-item" href="#">NZD/USD</a>
							<a class="dropdown-item" href="#">USD/CAD</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About Us</a>
					</li>
				</ul>
			</div>
		</nav>

		<h1>Hack the South 2020</h1>
		<p>Live foreign currency exchange rates</p>
		
		<table class="table" border="1">
			  <thead>
				<tr>
				  <td scope="col">#</th>
				  <td scope="col">Currency Exchange</th>
				  <td scope="col">Price</th>
				  <td scope="col">Price (Inverse)</th>
				  <td scope="col">Percent Change (24H)</th>
				  <td scope="col">Price Graph</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td scope="row">1</td>
				  <td><a href="https://www.w3schools.com">EUR/USD</a></td>
				  <td>Price_EUR_USD</td>
				  <td>PriceInv_EUR_USD</td>
				  <td>PChange24H_EUR_USD</td>
				  <td>PGph_EUR_USD</td>
				</tr>
				<tr>
				  <td scope="row">2</td>
				  <td><a href="https://www.w3schools.com">USD/JPY</a></td>
				  <td>Price_USD_JPY</td>
				  <td>PriceInv_USD_JPY</td>
				  <td>PChange24H_USD_JPY</td>
				  <td>PGph_USD_JPY</td>
				</tr>
				<tr>
				  <td scope="row">3</td>
				  <td><a href="https://www.w3schools.com">GBP/USD</a></td>
				  <td>Price_GBP_JPY</td>
				  <td>PriceInv_GBP_JPY</td>
				  <td>PChange24H_GBP_JPY</td>
				  <td>PGph_GBP_JPY</td>
				</tr>
				<tr>
				  <td scope="row">4</td>
				  <td><a href="https://www.w3schools.com">AUD/USD</a></td>
				  <td>Price_AUD_USD</td>
				  <td>PriceInv_AUD_USD</td>
				  <td>PChange24H_AUD_USD</td>
				  <td>PGph_AUD_USD</td>
				</tr>
				<tr>
				  <td scope="row">5</td>
				  <td><a href="https://www.w3schools.com">USD/CHF</a></td>
				  <td>Price_USD_CHF</td>
				  <td>PriceInv_USD_CHF</td>
				  <td>PChange24H_USD_CHF</td>
				  <td>PGph_USD_CHF</td>
				</tr>
				<tr>
				  <td scope="row">6</td>
				  <td><a href="https://www.w3schools.com">NZD/USD</a></td>
				  <td>Price_NZD_USD</td>
				  <td>PriceInv_NZD_USD</td>
				  <td>PChange24H_NZD_USD</td>
				  <td>PGph_NZD_USD</td>
				</tr>
				<tr>
				  <td scope="row">6</td>
				  <td><a href="https://www.w3schools.com">USD/CAD</a></td>
				  <td>Price_USD_CAD</td>
				  <td>PriceInv_USD_CAD</td>
				  <td>PChange24H_USD_CAD</td>
				  <td>PGph_USD_CAD</td>
				</tr>
			  </tbody>
		</table>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>

</html>